<!DOCTYPE html>
<html>

<head>
    <title>Large Image Section</title>
    <link rel="stylesheet" href="/tmp/pilot.css">
</head>

<body>

    <!-- cover pic -->

    <article id="cover">
        <section>
            <div class="front-page-text">
                <p style="color: #106ba8; font-size: 30pt;">Talent Insights Report</p>
                <br>
                <p>{{ dict_candidate['name']|upper }}</p>
                <p>{{ date }}</p>
            </div>
        </section>
    </article>

    <!-- content page -->

    <article style="page-break-before: always">
        <section>
            <h2 class="color-blue">Contents</h2>
            <ul class="toc">
                <li><a href="#page1" class="custom-link">ADMINISTRATOR CHECKLIST</a></li>&nbsp;
                <li><a href="#page2" class="custom-link">SUMMARY</a></li>&nbsp;
                <li><a href="#page3" class="custom-link">POTENTIAL STRENGTHS</a></li>&nbsp;
                <li><a href="#page4" class="custom-link">DEVELOPMENT CONSIDERATIONS</a></li>&nbsp;
                <li><a href="#page5" class="custom-link">BEHAVIORAL INSIGHTS AND SUGGESTIONS</a></li>&nbsp;
                <li><a href="#page7" class="custom-link">DISCLAIMER AND COPYRIGHT</a></li>&nbsp;
            </ul>
        </section>
    </article>

    <!-- summary pages -->

    <article style="page-break-before: always">
        <section>
            <h1 id="page1" class="color-blue">ADMINISTRATOR CHECKLIST</h1>
            <p>This report is designed to help you gain insights into the technical and behavioral skills of the
                candidate in the context of the job description. It assists the Administrator in probing more deeply
                into specific areas</p>
            <h2 class="color-blue">Before The Interaction</h2>
            <div class="div-before-interview-container">
                <div class="div-before-interview">
                    <h4 class="color-blue">1</h4>
                    <p>Review job requirements, the candidate's resume and this Talent Insights Report</p>
                </div>
                <div class="div-before-interview">
                    <h4 class="color-blue">2</h4>
                    <p>Review the resume and screen the candidate to clarify skills and match</p>
                </div>
                <div class="div-before-interview">
                    <h4 class="color-blue">3</h4>
                    <p>Review the insights and understand nature of responses you expect</p>
                </div>
            </div>
            <h2 class="color-blue">Tips For the Administrator</h2>
            <div class="image-interview-questions">
                <img src="/tmp/tips.jpg">
            </div>
            <h2 class="color-blue">After The Interaction</h2>
            <p>Review the insights in this Report, skills’ scores, strengths and improvement opportunities, and your
                observations.</p>
            <div class="image-interview-questions">
                <img src="/tmp/after_interview_pic.jpg">
            </div>
        </section>
    </article>

    <!-- description of skills -->

    <article style="page-break-before: always">
        <section>
            <h1 id="page2" class="color-blue">SUMMARY</h1>
            <br>
            <div>
                <h3 class="color-blue">Requirement Match</h3>
                <p class="color-blue">Resume match to the requirement</p>
                <div>
                    <img src="/tmp/job_fitment_graphic.jpg" alt="Picture" id="pic">
                    <!-- <p class="color-blue">R1 - Minimum score of all applicants</p>
                        <p class="color-blue">R2 - Maximum score of all applicants</p> -->
                    <p class="color-blue">S - Candidate's match score</p>
                </div>
            </div>
            <br>
            <br>
            <div>
                <h3 class="color-blue">Behavioral Skills Assessment Summary</h3>
                <div>
                    <img src="/tmp/baseline_assessment.jpg" alt="Picture" id="spider">
                </div>
            </div>
        </section>
    </article>

    <!-- potential strengths -->

    <article style="page-break-before: always">
        <section>
            {% if number_top_skills > 0 %}
            <h1 id="page3" class="color-blue">Potential Strengths</h2>
                <br>
                <h3 class="color-blue">Behavioral Skills</h3>
                <br>
                {% for skill in list_top_skills %}
                <div>
                    <h4 class="color-blue">{{ skill }}</h4>
                    <p class="color-blue"> {{ dict_report_text[skill]['Potential Strength']['Summary'] }}
                    <p>
                    <ul>
                        {% for detail in dict_report_text[skill]['Potential Strength']['Details'] %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
        </section>
    </article>

    <!-- development considerations -->

    <article style="page-break-before: always">
        <section>
            {% if number_bottom_skills > 0 %}
            <h1 id="page4" class="color-blue">Developmental Considerations</h2>
                <br>
                <h3 class="color-blue">Behavioral Skills</h3>
                <br>
                {% for skill in list_bottom_skills %}
                <div>
                    <h4 class="color-blue">{{ skill }}</h4>
                    <p class="color-blue">{{ dict_report_text[skill]['Development Considerations']['Summary'] }}
                    <p>
                    <ul>
                        {% for detail in dict_report_text[skill]['Development Considerations']['Details'] %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
        </section>
    </article>


    <!-- skill assessments - positive -->
    <article style="page-break-before: always">
        <section>
            <h1 id="page5" class="color-blue">BEHAVIORAL INSIGHTS AND SUGGESTIONS</h1>
            <br>

            <h3 class="color-blue">Strength Analysis</h3>
            {% if number_top_skills > 0 %}
            {% for skill in list_top_skills %}
            <article style="page-break-after: always">
                <section>
                    <div class="top-header-skills">
                        <div>
                            <h4>{{ skill|upper }}: HIGH</h4>
                        </div>
                        <div>
                            <img src="/tmp/{{ skill }}.jpeg" alt="Picture">
                        </div>
                    </div>
                    <div>
                        {% for questions in dict_report_text[skill]['Interview Questions'] %}
                        <p>{{ loop.index }}. {{ questions['Initial'] }}</p>
                        <p style="font-weight : bold">Probing Questions</p>
                        <ul>
                            {% for detailed_question in questions['Details'] %}
                            <li>{{ detailed_question }}</li>
                            {% endfor %}
                            <br>
                        </ul>
                        {% endfor %}
                    </div>
                </section>
            </article>
            {% endfor %}
            {% endif %}

            <!-- skill assessments - negative -->
            <h3 class="color-blue">Gap Analysis</h3>
            {% if number_bottom_skills > 0 %}
            {% for skill in list_bottom_skills %}
            <article style="page-break-after: always">
                <section>

                    <div class="top-header-skills">
                        <div>
                            <h4>{{ skill|upper }}: LOW</h4>
                        </div>
                        <div>
                            <img src="/tmp/{{ skill }}.jpeg" alt="Picture">
                        </div>
                    </div>
                    <div>
                        {% for questions in dict_report_text[skill]['Interview Questions'] %}
                        <p>{{ loop.index }}. {{ questions['Initial'] }}</p>
                        <p style="font-weight : bold">Probing Questions</p>
                        <ul>
                            {% for detailed_question in questions['Details'] %}
                            <li>{{ detailed_question }}</li>
                            {% endfor %}
                            <br>
                        </ul>
                        {% endfor %}
                    </div>
                </section>
            </article>
            {% endfor %}
            {% endif %}
        </section>
    </article>

    <!-- Next Steps -->

    <!-- <article style="page-break-before: always">
            <section>
                <h2 id="page6" class="color-blue">Next Steps</h2>
                <h4>Overall Job Match</h4>
                <br>
                <div class="image-score-ticker">
                    <img src="/tmp/score.jpg" alt="Picture">
                </div>
                <br>
                <h4>Action Steps</h4>
                <div>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                </div>
                <br>
                <h4>Comments</h4>
                <div>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                    <p>_____________________________________________________________________________</p>
                </div>
            </section>
        </article> -->

    <!-- Disclaimer & Copyright -->

    <article style="page-break-before: always">
        <section>
            <h3 id="page7" style="text-decoration: underline; font-weight: bold; color: #106ba8;">Disclaimer and
                Copyright</h3>
            <br>
            <h4 style="font-weight: bold;">Disclaimer</h4>
            <p>This report is a property of {{ dict_candidate['company'] }} and the information provided in the report
                is to be used only by the individual or entity to which it is addressed, else you are hereby notified
                that any dissemination, distribution or copying of this communication is strictly prohibited. The
                interpretive information contained in this report should be viewed as only one source of hypotheses
                about the individual/ group being evaluated. No decisions should be based solely on the information
                contained in this report. Any interpretation of this report should take into account ALL relevant input
                such as actual experience, skills, interests, abilities, the market being addressed and product being
                sold. This material should be integrated with all other sources of information in reaching professional
                decisions about this individual. This report is confidential and intended for use by qualified
                professionals only. </p>
            <br>
            <h4 style="font-weight: bold;">Intellectual Property</h4>
            <p>The content and services of {{ dict_candidate['company'] }}, as well as their selection and arrangement,
                are protected by copyright, trademark, patent, and/or other intellectual property laws, and any
                unauthorized use of the Content or Services may violate such laws and these Terms of Use. Except as
                expressly implied in these Terms of Use, {{ company }} does not grant any express rights to use the
                Content and/or Services. You have agreed not to copy, republish, frame, download, transmit, modify,
                rent, lease, loan, sell, assign, distribute, license, sublicense, reverse engineer, or create derivative
                works based on the Site, its Content, or its Services or their selection and arrangement, except as
                expressly authorized in these Terms of Use. In addition, you have agreed not to use any data mining,
                robots, or similar data gathering and extraction methods in connection with the {{ company }} database.
            </p>
        </section>
    </article>

</body>

</html>